body
{
    padding-top: 0px;
    padding-bottom: 0px;
    /* border-bottom: 1px solid #525866; */
    color: #3B3B3C;
    background-color: #f5f5f5 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #b94a48;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #b94a48;
}

.validation-summary-valid
{
    display: none;
}

.logo-image
{
    margin-left: 3%;
    float: left;
}

    .logo-image > img
    {
        height: 75px;
        width: 300px;
    }

.container-logo
{
    padding: 5px;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #CBC4BC;
    box-shadow: 0px 1px 1px 1px #CBC4BC;
}

.hrRepsol
{
    background: #CBC4BC;
}

.name-app
{
    float: left;
    margin-bottom: 20px;
    height: 40px;
}

    .name-app > h1
    {
        padding-left: 15px;
        padding-top: 7px;
        font-weight: bold;
        font-size: 28px;
    }

/*.container
{
    width: 100%;
    padding: 0px;
    /*padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    border-left: 1px solid #CBC4BC;
    border-right: 1px solid #CBC4BC;
    box-shadow: 0px 1px 1px 1px #CBC4BC;
    border-bottom: 2px solid #FF8200;
    min-height: 600px;
}*/

.container
{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-menu
{
    width: 100%;
    height: 40px;
    border: 1px solid #CBC4BC;
}

    .container-menu ul, .container-menu li
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.form-group
{
    padding-bottom: 1px;
    margin: 1px 0 0 0;
}

.navbar
{
    position: relative;
    min-height: 30px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.tableStyle
{
    border: 2px solid #ddd;
}

    .tableStyle thead
    {
        background: #ddd;
    }

.tableStyleTelefono
{
    border: 2px solid #ddd;
}

    .tableStyleTelefono thead
    {
        background: #ddd;
    }

        .tableStyleTelefono thead > tr > th
        {
            padding: 4px 9px;
        }

.selectElement
{
    background: #ccc;
}

.deshabilitadaColor
{
    color: #f44336;
}

.checkbox label, .radio label, label
{
    font-size: 12px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400;
}

.withoutborder
{
    width: 100% !important;
    border: none !important;
}

    .withoutborder a
    {
        color: #000 !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    .withoutborder:hover
    {
        cursor: pointer !important;
        background-color: #f5f5f5 !important;
    }

.withoutborderNS
{
    width: 100% !important;
    border: none !important;
}

    .withoutborderNS a
    {
        color: #000 !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

/*.withoutborderNS:hover
    {
        cursor: pointer !important;
        background-color: #f5f5f5 !important;
    }*/
table.scroll
{
    width: 100%;
    /* border-collapse: collapse; */
    /*border-spacing: 0;*/
    /*border: 2px solid black;*/
}

    table.scroll tbody,
    table.scroll thead
    {
        display: block;
    }

thead tr th
{
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody
{
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iconMenu
{
    color: #18114F;
    margin-right: 5px;
}

.navbar .navbar-nav > li
{
    margin: 0 5px;
    border-width: 2px;
    padding: 0;
    list-style: none;
    display: inline-block;
    border-bottom: 3px solid transparent;
    position: relative;
    top: 1px;
}

    /*Button Styles*/
    .navbar .navbar-nav > li:hover
    {
        /*background: #12024C;*/
        /*color: white;*/
        border-bottom: 3px solid #18114F;
    }

    .navbar .navbar-nav > li.active
    {
        /*background: #12024C;*/
        /*color: white;*/
        border-bottom: 3px solid #18114F;
    }


    .navbar .navbar-nav > li > a
    {
        color: inherit;
        padding-top: 11px;
        padding-bottom: 11px;
    }

.header
{
    border-bottom: 1px solid #ECEFF5;
}

header
{
    /*min-height: 108px;*/
    background: #fff;
    /*z-index: 6667;*/
    position: relative;
    transition: all 0.4s ease;
}

.header .nav li a
{
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 12px 24px !important;
}

.header .nav li.item-select
{
    background: #02adc6;
}

.top-bar
{
    /*background: #A8A8A8;*/
    background: #18114F;
}

    .top-bar .get-touch
    {
        float: right;
        height: 47px;
    }

        .top-bar .get-touch ul
        {
            float: left;
        }

        .top-bar .get-touch li
        {
            float: left;
            list-style: none;
            border-left: solid 1px #9fa3aa;
        }

            .top-bar .get-touch li a
            {
                color: #fff;
                padding: 13px 14px;
                float: left;
                cursor: pointer;
            }

            .top-bar .get-touch li i
            {
                margin: 1px 6px 0 0;
                float: left;
                font-size: 16px;
            }

/*.top-bar span
    {
        font-weight: 400;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        margin: 14px 0 0 0;
        float: left;
    }*/

.badge
{
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.badgePosition
{
    background-color: red;
    font-size: 10px;
    margin-left: -17px;
    margin-top: -21px;
}

.iconStyle
{
    font-size: 18px;
    color: #12024C;
    cursor: pointer;
}

    .iconStyle:hover
    {
        color: #1F0287;
    }

.linkForgotPass
{
    text-align: right;
}

    .linkForgotPass a:hover
    {
    }

    .linkForgotPass a:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }

.navbar-toggle
{
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input:-webkit-autofill
{
    color: #2a2a2a !important;
    background-color: red !important;
}

/*.tree
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .tree li
    {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .tree li::before, .tree li::after
        {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before
        {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after
        {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }*/
.buttonNotificacion
{
    font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loader
{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    .loader div
    {
        display: block;
        left: 45%;
        position: absolute;
        text-align: center;
        top: 50%;
    }

        .loader div > span
        {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            background-color: #525252;
            border: 1px solid #ffffff;
            color: #ffffff;
            padding: 15px 20px 15px 20px;
        }

            .loader div > span img
            {
                padding-right: 15px;
            }

.label.label-info
{
    background-color: #18114F;
}

.nav-tabs
{
    background: #ffffff;
}

    .nav-tabs > li > a
    {
        color: #000000;
        border: 0;
        margin: 0;
    }

        .nav-tabs > li > a:hover
        {
            background-color: transparent;
            border: 0;
        }

        .nav-tabs > li > a,
        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus
        {
            background-color: transparent !important;
            border: 0 !important;
            color: #000000 !important;
            font-weight: 500;
        }

    .nav-tabs > li.disabled > a,
    .nav-tabs > li.disabled > a:hover
    {
        color: rgba(255, 255, 255, 0.5);
    }

.row
{
    margin-right: 0px;
    margin-left: 0px;
}

.divContent
{
    background-color: #fff;
    padding: 8px;
    padding-top: 20px;
    box-shadow: #CED2DB 0 1px 2px 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.cortar
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #3B3B3C;
}

#buscadorClinica
{
    margin-left:20px;
    width: 300px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

#pac-input
{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 10px 15px;
    text-overflow: ellipsis;
    width: 300px;
    border-top: 0px solid red;
    border-right: 0px solid red;
    border-left: 0px solid red;
}

    #pac-input:focus
    {
        border-color: #4d90fe;
    }
