<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db_dentistaConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=db_dentista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DLogin.Properties.Settings.db_dentistaConnectionString2"
            connectionString="Data Source=(local);Initial Catalog=db_dentista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DLogin.Properties.Settings.db_dentistaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=db_dentista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>