<div class="col-md-10 col-md-offset-1" style="background-color: #fff; padding: 8px; padding-top: 20px; box-shadow: #CED2DB 0 1px 2px 0; margin-top: 30px; margin-bottom: 30px;" ng-controller="comentarioController">
    <div class="col-md-10 col-md-offset-1">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-12" style="max-height: 440px; overflow-y: auto; padding-right: 0px;">
                <table class="table table-hover tableStyle">
                    <!-- <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr ng-class="{selectElement:comentarioSelected.IDComentario==comentario.IDComentario}" ng-repeat="comentario in ListaComentario |filterByWords:subString:'IDComentario,IDEmpresa,LoginCliente,IsVisible'" ng-click="seleccionarComentario(comentario)">
                            <td>{{comentario.FechaCreacion}}</td>
                            <td>{{comentario.Comentario}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

            <div class="panel panel-primary"  ng-repeat="comentario in ListaComentario" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{comentario}}</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>

</div>
