<div class="col-md-10 col-xs-12 col-md-offset-1 divContent " id="mapa" >
</div>

<div class="modal fade" id="modal-ver-mas" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clinica {{clinicaSeleccionada.Nombre}}</h4>
            </div>
            <div class="modal-body">

                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Informacion</a></li>
                    <li><a href="#tab2" data-toggle="tab">Consultorios</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        toda info general
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="row">
                            <div class="col-md-3">
                                <table class="table table-hover tableStyle">
                                    <tbody>
                                        <tr ng-repeat="consultorio in clinicaSeleccionada.Consultorios" ng-click="mostrarHorarios(consultorio)">
                                            <td>{{consultorio.Login}}
                                            </td>

                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="col-md-9">
                                <form class="form-horizontal" ng-show="consultorioSeleccionado!= null">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="dtpFecha" class="col-md-3 control-label">Fecha</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="dtpFecha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="max-height: 340px; overflow-y: auto; padding-right: 0;">
                                            <table class="table table-hover tableStyle">
                                                <thead>
                                                    <tr>
                                                        <th>Hora</th>
                                                        <th>{{dateSelectedString}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="cita in citasDelDia  " ng-click="seleccionaCita(cita)">
                                                        <td>
                                                            <span class="label " ng-class="{'label-info':!cita.EstaOcupada && !cita.EsTarde , 'label-danger':cita.EstaOcupada && !cita.EsTarde , 'label-default':cita.EsTarde}">{{ cita.HoraInicioString}} </span>
                                                        </td>
                                                        <td>{{cita.Paciente.NombrePaciente}}
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </form>

                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="agendarCita()" ng-disabled="citaSeleted== null">Agendar</button>
                <button class="btn btn-primary" ng-click="cerrarModalVerMas()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enviar-notificacion" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Enviar solicitud</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Usted no pertenece a este consultorio. Desea enviar una solicitud para pertenecer al consultorio? </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="enviarNotificacion()">Enviar solicitud</button>
                <button class="btn btn-danger" ng-click="cerrarSolicitud()">Cancelar</button>
            </div>
        </div>
    </div>
</div>