<div class="col-md-10 col-md-offset-1" id="mapa" style="background-color: #fff; padding: 8px; padding-top: 20px; box-shadow: #CED2DB 0 1px 2px 0; margin-top: 30px; margin-bottom: 30px;">
</div>

<div class="modal fade" id="modal-ver-mas" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
           <div class="modal-header">
                    <h4 class="modal-title">Clinica {{clinicaSeleccionada.Nombre}}</h4>
                </div>
            <div class="modal-body">
               
                    <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Informacion</a></li>
                        <li><a href="#tab2" data-toggle="tab">Horarios</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            toda info general
                        </div>
                        <div class="tab-pane" id="tab2">
                            los consultorios 
                        </div>
                    </div>
                </div>
            
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" onclick="CloseTaskList();">Close</a>
            </div>
        </div>
    </div>
</div>
