g<div id="buscadorClinica">
    <input id="pac-input" type="text"
        placeholder="Buscar consultorio" ng-model="consultorioBuscar">
    <div id="listClinicas" style="max-height: 300px; overflow-y: auto" ng-show="mostrarConsultorios">
        <div style="width: 280px; height:25px" ng-repeat="clinica in consultoriosBuscador   |filterByWords:consultorioBuscar:'EsConsultorioDefault,IDConsultorio,TiempoCita,NIT,FechaCreacion,FechaModificacion,IDClinica,State,Telefonos,Trabajos,HorarioParaMapa,IDUsuarioCreador,Estado,Email,IDIntervalo'">
            <div class="col-md-12" style="padding: 8px 25px; font-size: 14px" ng-click="seleccionarConsultorioBuscador(clinica)">
                {{clinica.Login}} - {{clinica.NombreDoctor}}
            </div>

        </div>

    </div>

</div>

<div class="col-md-10 col-xs-12 col-md-offset-1 divContentMap " min-heigth id="mapa">
</div>

<div class="modal fade" id="modal-ver-mas" data-backdrop="static" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 ">
                        <img class="col-md-12 col-sm-12 col-xs-12 " data-ng-src="{{clinicaSeleccionada.LogoParaMostrar}}" style="height: 80px" alt="" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ">
                        <h4 style="font-weight: bold; margin-bottom: 0px">{{clinicaSeleccionada.Nombre}} </h4>
                        <span>{{clinicaSeleccionada.Descripcion}} </span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-primary" ng-click="mostrarHorarios()">ver Horarios</button>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-primary" ng-click="mostrarContactenos()">Contactenos</button>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <button class="btn btn-primary" ng-click="mostrarComentarios()">Comentarios</button>
                    </div>
                </div>

                <div class="row" id="panelContactenos" ng-show="mostrarPanel ==2 " style="min-height: 350px; max-height: 350px; overflow-y: auto">
                    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                        <div id="direccion" class="form-group">
                            <h5 style="font-weight: bold" class="col-md-3 control-label">Direccion </h5>

                            <h5 class="col-md-9 control-label">{{clinicaSeleccionada.Direccion}}</h5>



                        </div>
                        <div id="Div1" class="form-group">
                            <h5 style="font-weight: bold" class="col-md-3 control-label">Email </h5>

                            <h5 class="col-md-9 control-label">{{consultorioSeleccionado.Email}}</h5>



                        </div>
                         <div id="Div2" class="form-group">
                            <h5 style="font-weight: bold" class="col-md-3 control-label">Email de </h5>

                           <input type="text" class="form-control" />



                        </div>
                         <div id="Div3" class="form-group">
                            <h5 style="font-weight: bold" class="col-md-3 control-label">Mensaje </h5>

                         <textarea ng-model="comentarioParaGuardar.Comentario" class="form-control "  rows="6"></textarea>



                        </div>
                       <!-- <div class="form-group">
                            <h5 class="col-md-12 control-label">Trabajos </h5>
                            <div class="col-md-1"></div>
                            <div class="col-md-10" style="max-height: 65px; overflow-y: auto">
                                <div class="col-md-12" ng-repeat="trabajo in clinicaSeleccionada.Trabajos  ">
                                    <div class="col-md-6">
                                        {{trabajo.Descripcion}}
                                    </div>

                                </div>

                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="row" id="panelComentarios" ng-show="mostrarPanel ==3 " style="min-height: 350px; max-height: 350px; overflow-y: auto">

                    <div class="row">
                        <div class="form-group ">

                            <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                                <textarea ng-model="comentarioParaGuardar.Comentario" class="form-control col-md-12" style="width: 100%; max-width: 100%" id="usuarioID" placeholder="Escribe un comentario..."> </textarea>
                            </div>
                            <div class="col-md-1">
                                <span ng-click="guardarComentario()" ng-show="comentarioParaGuardar.Comentario.length >0"><i class="fa fa-paper-plane iconStyle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                            <div class="panel panel-primary" ng-repeat="comentario in ListaComentario">
                                <div class="panel-heading">
                                    <h3 style="height: 12px" class="panel-title">{{comentario.NombrePaciente}} <span class="pull-right">{{comentario.FechaCreacion}}</span></h3>
                                </div>
                                <div class="panel-body">
                                    <label>{{comentario.Comentario}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" id="panelHorario" ng-show="mostrarPanel ==4 " style="min-height: 350px">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dtpFecha" class="col-md-3 control-label">Fecha</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="dtpFecha">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1" style="max-height: 250px; overflow-y: auto; padding-right: 0;">
                                <table class="table table-hover tableStyle">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>{{dateSelectedString}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cita in citasDelDia  " ng-click="seleccionaCita(cita)">
                                            <td>
                                                <span class="label " ng-class="{'label-info':!cita.EstaOcupada && !cita.EsTarde , 'label-danger':cita.EstaOcupada && !cita.EsTarde , 'label-default':cita.EsTarde}">{{ cita.HoraInicioString}} </span>
                                            </td>
                                            <td>{{cita.Paciente.NombrePaciente}}
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary" ng-show="clinicaSeleccionada.Consultorios.length== 1" ng-click="mostrarModalComentario(clinicaSeleccionada.Consultorios[0])">Dejar comentario</button>-->
                <!--<button class="btn btn-primary" ng-show="clinicaSeleccionada.Consultorios.length== 1" ng-click="mostrarModalHorarios(clinicaSeleccionada.Consultorios[0])">Agendar cita</button>-->
                <!-- <button class="btn btn-primary" ng-click="cerrarModalVerMas()">Cerrar</button>-->
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="enviar-notificacion" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Enviar solicitud</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Usted no pertenece a este consultorio. Desea enviar una solicitud para pertenecer al consultorio? </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="enviarNotificacion()">Enviar solicitud</button>
                <button class="btn btn-danger" ng-click="cerrarSolicitud()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalconfirmarCita" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmar cita</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Esta seguro que quiere agendar una cita el dia {{dateSelected}} a las {{citaSeleted.HoraInicioString}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="agendarCita()">Agendar</button>
                <button class="btn btn-danger" ng-click="cerraModalConfirmCita()">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal-seleccionar-consultorio" data-backdrop="static" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Consultorios de la clinica {{clinicaSeleccionada.Nombre}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group label-floating">
                                    <label for="buscarPacienteID" class="col-md-2 control-label">Buscar</label>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="subString" class="form-control" id="buscarPacienteID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 row" style="max-height: 200px; overflow-y: auto; padding-right: 0px;">
                                <table class="table table-hover tableStyle">
                                    <thead>
                                        <tr>
                                            <th>Consultorio</th>
                                            <th>Doctor </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="cursor: pointer" ng-class="{selectElement:consultorio.Login==consultorioSeleccionado.Login}" ng-repeat="consultorio in clinicaSeleccionada.Consultorios " ng-click="seleccionarConsultorioClinica(consultorio)">
                                            <td>{{consultorio.Login}}
                                            </td>
                                            <td>{{consultorio.NombreDoctor}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="consultorioSeleccionado==null" ng-click="abrirModalVerMasConsultorio()">Ver consultorio</button>

            </div>
        </div>
    </div>
</div>
