<div class="col-md-10 col-md-offset-1" style="background-color: #fff; padding: 8px; padding-top: 20px; box-shadow: #CED2DB 0 1px 2px 0; margin-top: 30px; margin-bottom: 30px;" ng-controller="miConsultorioController">
    <div class="col-md-12 col-md-offset-1">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-10" style="max-height: 440px; overflow-y: auto; padding-right: 0px;">
                <table class="table table-hover tableStyle">
                    <tbody>
                        <tr ng-class="{selectElement:miConsultorioSelected.IDClinica==consultorio.IDClinica}" ng-repeat="consultorio in ListaConsultorio |filterByWords:subString:'IDEmpresa'" ng-click="seleccionarConsultorio(consultorio)">
                            <td>{{consultorio.Nombre}}<br />
                                {{consultorio.Direccion}} <a id="lnkMapa" ng-click="abrirModalMapa()">Ver mapa</a><br />
                                {{consultorio.Descripcion}}<br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="max-height: 440px; overflow-y: auto; padding-right: 0px;">
                <button class="btn btn-raised btn-primary pull-right" ng-click="abrirModalCita()" ng-disabled="miConsultorioSelected==null">Agendar Cita</button>
                <button class="btn btn-raised btn-primary pull-right" ng-click="abrirModalComentario()" ng-disabled="miConsultorioSelected==null">Comentar</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mi-comentario" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ingrese su comentario</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comentario" class="col-md-3 control-label">Comentario</label>
                                    <div class="col-md-9">
                                        <textarea ng-model="comentarioParaGuardar.Comentario" class="form-control" id="comentario"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="guardarComentario()" ng-disabled="validarCamposComentario()">Aceptar</button>
                    <button class="btn btn-primary" ng-click="cerrarModalComentario()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mi-cita" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agendar Cita</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<div class="form-group">
                                    <label for="comentario" class="col-md-3 control-label">Comentario</label>
                                    <div class="col-md-9">
                                        <textarea ng-model="historicoDetalleNuevo.TrabajoRealizado" class="form-control" id="Textarea1"></textarea>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--<button class="btn btn-primary" ng-click="modificarConsultorio()" ng-disabled="validarCampos()">Aceptar</button>-->
                    <button class="btn btn-primary" ng-click="cerrarModalCita()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mapa-ubicacion" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ubicacion en el mapa {{miConsultorioSelected.Nombre}}</h4>
            </div>
            <div class="modal-body">
                <div id="mapaConsultorio" style="background-color: #fff; box-shadow: #CED2DB 0 1px 2px 0; margin-bottom: 5px; height: 300px">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="cerrarModalMapa()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>



