<div class="col-md-10 col-md-offset-1 divContent" min-heigth  ng-controller="miConsultorioController" style="overflow-y:auto">
    <div class="col-md-12 col-md-offset-1">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-10" style="max-height: 440px; overflow-y: auto; padding-right: 0;">
                <table class="table table-hover tableStyle">
                    <tbody>
                        <tr ng-class="{selectElement:miConsultorioSelected.IDClinica==consultorio.IDClinica}" ng-repeat="consultorio in ListaConsultorio |filterByWords:subString:'IDEmpresa'" ng-click="seleccionarConsultorio(consultorio)">
                            <td>
                                <b>{{consultorio.Nombre}}</b><br />
                                {{consultorio.Direccion}}<br />
                                <a id="lnkMapa" ng-click="abrirModalMapa(consultorio)">Ver mapa</a>
                            </td>
                            <td>
                                {{consultorio.Descripcion}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="max-height: 440px; overflow-y: auto; padding-right: 0;">
                <button class="btn btn-raised btn-primary pull-right" ng-click="abrirModalCita(consultorio)" ng-disabled="miConsultorioSelected==null">Agendar Cita</button>
                <button class="btn btn-raised btn-primary pull-right" ng-click="abrirModalComentario()" ng-disabled="miConsultorioSelected==null">Comentar</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mi-comentario" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ingrese su comentario</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comentario" class="col-md-3 control-label">Comentario</label>
                                    <div class="col-md-9">
                                        <textarea ng-model="comentarioParaGuardar.Comentario" class="form-control" id="comentario"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="guardarComentario()" ng-disabled="validarCamposComentario()">Aceptar</button>
                    <button class="btn btn-primary" ng-click="cerrarModalComentario()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mi-cita" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agendar Cita</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dtpFecha" class="col-md-3 control-label">Fecha</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="dtpFecha">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="max-height: 340px; overflow-y: auto; padding-right: 0;">
                                <table class="table table-hover tableStyle">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>{{dateSelectedString}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cita in citasDelDia  " ng-click="seleccionaCita(cita)">
                                            <td>
                                                <span class="label " ng-class="{'label-info':!cita.EstaOcupada && !cita.EsTarde , 'label-danger':cita.EstaOcupada && !cita.EsTarde , 'label-default':cita.EsTarde}">{{ cita.HoraInicioString}} </span>
                                            </td>
                                            <td>
                                                {{cita.Paciente.NombrePaciente}}
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="agendarCita()" ng-disabled="validarCamposCita()">Agendar</button>
                    <button class="btn btn-primary" ng-click="cerrarModalVerMas()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-mapa-ubicacion" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ubicacion en el mapa {{miConsultorioSelected.Nombre}}</h4>
                </div>
                <div class="modal-body">
                    <div id="mapaConsultorio" style="background-color: #fff; box-shadow: #CED2DB 0 1px 2px 0; margin-bottom: 5px; height: 300px">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="cerrarModalMapa()">Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>



