<div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1 divContent"  style="overflow-y: auto">
    <div class="col-md-10 col-xs-12 col-md-offset-1">
        <div class="col-md-5 col-xs-11 ">
            <form class="form-horizontal">
                <div class="form-group">
                    <h4>Datos de la clinica</h4>
                    <div class="col-md-4 col-xs-3">
                        <img style="height: 100px; width: 100px" data-ng-src="{{clinicaParaModificar.LogoParaMostrar}}" alt="Logo de la clinica">
                    </div>
                    <div class="col-md-8 col-xs-9">
                        <div class="fileupload-buttonbar">
                            <span class="btn btn-primary fileinput-button">
                                <i class="fa fa-plus-circle" style="display: initial !important"></i>
                                <span style="display: initial !important">Seleccione Logo...</span>
                                <input id="fileupload" type="file" name="files[]">
                            </span>
                            <br />
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div id="files" class="files"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inpNombreClinicaid" class="col-md-4  control-label">Nombre Clinica:</label>
                    <div class="col-md-8 ">
                        <input type="text" class="form-control" id="inpNombreClinicaid" ng-disabled="!clinicaParaModificar.EsConsultorioDefault" ng-model="clinicaParaModificar.Nombre">
                    </div>
                </div>
                <div class="form-group">

                    <label for="Password3" class="col-md-4  control-label">Descripcion</label>
                    <div class="col-md-8 ">
                        <textarea class="form-control" ng-disabled="!clinicaParaModificar.EsConsultorioDefault" ng-model="clinicaParaModificar.Descripcion" id="Password3" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password2" class="col-md-4 control-label">Direccion:</label>
                    <div class="col-md-8 ">
                        <input type="text" class="form-control" ng-disabled="!clinicaParaModificar.EsConsultorioDefault" ng-model="clinicaParaModificar.Direccion" id="Password2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lnkMapa" class="col-md-4  control-label">Ubicacion</label>
                    <div class="col-md-8 ">
                        <a class="btn  btn-link" id="lnkMapa" ng-disabled="!clinicaParaModificar.EsConsultorioDefault" ng-click="abrirModalDeMapa()">Ver mapa</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tableTelefonosClinicaID" class="col-md-4  control-label">Telefonos</label>
                    <div class="col-md-7 " style="max-height: 150px; overflow-y: auto">
                        <table id="tableTelefonosClinicaID" class="table table-hover tableStyleTelefono " id="table2">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="telefono in clinicaParaModificar.Telefonos" ng-click="selectTelefonoClinica(telefono,$index)" style="cursor: pointer;">
                                    <td>{{telefono.Nombre}}</td>
                                    <td>{{telefono.Telefono}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1 col-xs-1" ng-show="clinicaParaModificar.EsConsultorioDefault">
                        <span ng-click="showNewRowTelefonoClinica()"><i class="fa fa-plus-circle iconStyle"></i></span>
                        <span ng-show="telefonoClinicaSelected!= null" ng-click="showUpdateTelefonoClinica()"><i class="fa fa-pencil-square-o iconStyle"></i></span>
                        <span ng-show="telefonoClinicaSelected!= null" ng-click="deleteTelefonoClinica()"><i class="fa fa-trash iconStyle"></i></span>
                    </div>
                </div>
                <div class="form-group" ng-hide="clinicaParaModificar.Trabajos.length>0|| trabajoClinicaSelected!= null">
                    <label for="inputTrabajo" class="col-md-4 control-label">Trabajos:</label>
                    <div class="col-md-7 ">
                        <input type="text" class="form-control" id="inputTrabajo" ng-disabled="!clinicaParaModificar.EsConsultorioDefault" ng-model="primerTrabajo">
                    </div>
                    <div class="col-md-1 " ng-show="primerTrabajo.length>0" title="Agregar trabajo">
                        <span ng-click="addTrabajo()"><i class="fa fa-check iconStyle"></i></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 15px" ng-show="clinicaParaModificar.Trabajos.length>0 || trabajoClinicaSelected!= null">
                    <label for="tablaTrabajosClinicaId" class="col-md-4  control-label">Trabajos</label>
                    <div class="col-md-8 ">
                        <div id="tablaTrabajosClinicaId" class="col-md-10 " style="max-height: 112px; overflow-y: auto; border: 2px solid #ddd; margin-bottom: 20px; padding-right: 0px; padding-left: 0px">
                            <div ng-repeat="trabajo in clinicaParaModificar.Trabajos | filterDeleted" ng-click="selectTrabajoClinica(trabajo, $index)" style="cursor: pointer; height: 36px; padding: 8px 8px; border-bottom: 1px solid #ddd">
                                {{trabajo.Descripcion}}
                            </div>
                            <!-- <table class="table table-hover tableStyle scroll">
                            <tbody id="tablaTrabajosClinicaId">
                                <tr ng-repeat="trabajo in clinicaParaModificar.Trabajos | filterDeleted " ng-click="selectTrabajoClinica(trabajo, $index)" style="cursor: pointer;">
                                    <td>{{trabajo.Descripcion}}</td>
                                </tr>
                            </tbody>
                        </table>-->
                        </div>
                        <div class="col-md-1 " ng-show="clinicaParaModificar.EsConsultorioDefault">
                            <span ng-click="showNewRowTrabajoClinica()"><i class="fa fa-plus-circle iconStyle"></i></span>
                            <span ng-show="trabajoClinicaSelected!= null" ng-click="showUpdateRowTrabajoClinica()"><i class="fa fa-pencil-square-o iconStyle"></i></span>
                            <span ng-show="trabajoClinicaSelected!= null" ng-click="deleteTrabajoClinica()"><i class="fa fa-trash iconStyle"></i></span>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-md-6 col-md-offset-1 col-xs-11">
            <div class="row">
                <form class="form-horizontal">
                    <h4>Datos del consultorio</h4>
                    <div class="form-group">
                        <label for="inputNit" class="col-md-4 control-label">NIT consultorio:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="clinicaParaModificar.Consultorios[0].NIT" id="inputNit">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-4 control-label">Email consultorio:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="clinicaParaModificar.Consultorios[0].Email" id="inputEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idIntervalo" class="col-md-4 control-label">Tiempo consulta:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="Select1" ng-options="intervalo.Descripcion for intervalo in intervalos" ng-model="intervaloSelected"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Table1" class="col-md-4 control-label">Seleccione trabajo</label>

                        <div id="Div1" class="col-md-6 " style="max-height: 112px; overflow-y: auto; border: 2px solid #ddd; margin-bottom: 20px; padding-right: 0px; padding-left: 0px">
                            <div class="col-md-12 " ng-repeat="trabajo in clinicaParaModificar.Trabajos" ng-click="selectTrabajoClinica(trabajo, $index)" style="cursor: pointer; height: 36px; padding: 8px 8px; border-bottom: 1px solid #ddd">
                                <div class="col-md-1">
                                    <input type="checkbox" ng-model="trabajo.IsChecked" />
                                </div>
                                <div class="col-md-10">{{trabajo.Descripcion}}</div>
                            </div>
                        </div>
                        <!-- <table id="Table1" class="table table-hover tableStyle scroll">
                                <tbody>
                                    <tr ng-hide="trabajo.ID==-1" ng-repeat="trabajo in clinicaParaModificar.Trabajos" style="cursor: pointer;">
                                        <td>
                                            <input type="checkbox" ng-model="trabajo.IsChecked" />
                                        </td>
                                        <td>{{trabajo.Descripcion}}</td>
                                    </tr>
                                </tbody>
                            </table>-->

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="tableTelefonosID" class="col-md-4 control-label">Telefonos</label>
                            <div class="col-md-6 col-xs-11" style="max-height: 150px; overflow-y: auto">
                                <table id="tableTelefonosID" class="table table-hover tableStyleTelefono " id="table2">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="telefono in consultorioToSave.Telefonos" ng-click="selectTelefonoConsultorio(telefono,$index)" style="cursor: pointer;">
                                            <td>{{telefono.Nombre}}</td>
                                            <td>{{telefono.Telefono}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <span class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus-circle iconStyle"></i></span>
                                <ul class="dropdown-menu">
                                    <li ng-click="addRowTable()"><a>Nuevo</a></li>
                                    <li ng-click="addRowTableFromClinica()"><a>Desde Clinica</a></li>
                                </ul>
                                <span ng-show="telefonoClinicaSelected!= null" ng-click="showUpdateTelefonoClinica()"><i class="fa fa-pencil-square-o iconStyle"></i></span>
                                <span ng-show="telefonoClinicaSelected!= null" ng-click="deleteTelefonoClinica()"><i class="fa fa-trash iconStyle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button class="btn btn-raised btn-primary" ng-click="guardarClinica()" ng-disabled="!validarPermisoComponente('btnGuardarConsultorio')">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-mapa-ubicacion" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seleccione una ubicacion en el mapa {{clinicaParaModificar.Nombre}}</h4>
            </div>
            <div class="modal-body">
                <div id="mapaConsultorio" style="background-color: #fff; box-shadow: #CED2DB 0 1px 2px 0; margin-bottom: 5px; height: 300px">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn  btn-primary" ng-click="insertarUbicacionClinica()">Aceptar</button>
                <button class="btn btn-danger" ng-click="salirModalUbicacion()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
