<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db_dentistaConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=db_dentista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DEventos.Properties.Settings.db_dentistaConnectionString2"
            connectionString="Data Source=s09.winhost.com;Initial Catalog=DB_53538_desarrollo;User ID=DB_53538_desarrollo_user;Password=Dacasys123;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>