<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db_dentistaConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=db_dentista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DConsulta.Properties.Settings.db_dentistaConnectionString"
            connectionString="Data Source=s09.winhost.com;Initial Catalog=DB_53538_desarrollo;User ID=DB_53538_desarrollo_user;Password=Dacasys123;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
